.wrapper.fullscreen {
    padding: 0.5em 0;
}

/* Main title */
#m-main-title {
    margin-bottom: 2vh !important;
    font-size: 12vw;
    text-align: center;
}

/* CONTAINER FOR DATE INFO AND SWIPE*/
.mobiledate{
    border: 0;
    margin: auto;
    width: 100%;
    height: 11.5vw;
    background: linear-gradient(to right, #295EA6 , #77AAE3);
    border: none;
    text-align: center;
    position: relative;
}
h1.major{
    padding-bottom: 0;
}

h1.major:after{
    display: none;
}

.row.uniform > * {
    padding: .5em 0 0 .5em;
}

.m-datetext{
    padding-top: .42vh;
    padding-left:0;
    margin-left: 0;
    width: auto;
    display: inline-block;
    font-size: 5vw;
    text-align: center;
    width: auto;
    float:none;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
}

#date_description{
    float:none;
    text-align:center;
    font-size: 4vw;
    margin-top: 2px;
}

#arrow-left {
    width: 1vw;
    height: 1vw;
    border: 1vw solid;
    border-color: rgba(255, 255, 255, 0.55) transparent transparent rgba(255, 255, 255, 0.55);
    transform: rotate(-45deg);
    padding: 1vh 0 0 1vh;
    position: absolute;
    left: 7vw;
    top: 3.8vw; /* Height of container: 10vw */
}

#arrow-right {
    width: 1vw;
    height: 1vw;
    border: 1vw solid;
    border-color: rgba(255, 255, 255, 0.55) transparent transparent rgba(255, 255, 255, 0.55);
    transform: rotate(135deg);
    padding: 1vh 0 0 1vh;
    position: absolute;
    left: 88vw;
    top: 3.8vw;
}


/*panel stuff*/
.paneltext { 
	position: relative;
    text-align: center;
    z-index: 0; 
    color: black; 
    font-size:5.5vw;
}

.panel {
	position: relative;
}

#clublogo {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 30%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* infobar_mobile */
#infobar_mobile {
    padding: 1.5em 1em 0.5em 1em ;
    cursor: default;
    height: 100%;
    width: 100vw;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    text-align: center;
    word-wrap: break-word;
    line-height: 3em;
    z-index: 10001;
    color: black;
    top: 100vh;
    
    transition: .6s ease;
}

#infobar_mobile .club_name {
    font-size: 3em;
    text-align: center;
    padding-left: 0;
    margin-bottom: 15px;
}

.inner .info {
    font-size: 18px;
    line-height: 1.8em;
}

/* unknown if needed */
#infobar_mobile > .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    min-height: 100%;
    opacity: 1;
    width: 100%;
}

.mobile-image-wrap {
    height: 30vh;
    margin-top: 5%
}

#mobile-flyer-image {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block
}


body.is-ie #infobar_mobile > .inner {
    height: 100%;
}

#infobar_mobile nav > ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

body.is-loading #infobar_mobile > .inner {
    opacity: 0;
}

body.is-loading #infobar_mobile nav ul li {
    -moz-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
}

/* Calendar style */
.container{
    padding: 0;
}

/* TEAM SECTION */
.cardContainer {
    padding: 0;
}

.column {
    width: 100%;
}

.column .card {
    width: 28vw;
    float: left;
    margin-left: 4vw;
}

#v-cal .vcal-week span {
    font-size: .9em;
    text-align: center;
    padding-top: .8em;
    padding-bottom: .8em;
    padding-left:6.1vw;
    padding-right: 6.1vw;
}

#mon_span {
    margin-left: -3.3vw
}

@media screen and (min-width: 768px){
    #mon_span {
        margin-left: -1.4vw;
    }
    
    #v-cal .vcal-week span {
        padding-left:6.0vw;
        padding-right: 6.0vw;
    }
}

#mobileCalDescription {
    color: white;
    padding: 0 0 0 3vw;
    margin-bottom: 1em;
}

#filter-mobile-span {
    font-size: 3.4vw;
}

#swipe-left {
    position: absolute;
    top: 91vh;
    text-align: center;
    left: 0;
    right: 0;
}

#filter-mobile {
    display:inline;
    padding: 0 0 0 3vw;
}

