/* Main title */
#m-main-title {
    margin-bottom: 30px !important;
    font-size: 12vw;
}

.mobiledate{
    border: 0;
    margin: auto;
    width: 80%;
    height: 10vw;
    border-radius: 3em; 
    /*border: solid 2px #77AAE3; */
}

/* Left date arrow */
#m-leftdate{ 
    float: left;

}

/* Date text */
.m-datetext{
    padding-top: 0.7em;
    font-size: 4vw;
    text-align: center;

}

/* Right date arrow */
#m-rightdate {

}

/*panel stuff*/
.paneltext { 
	position: relative;
    text-align: center;
    z-index: 0; 
    color: black; 
    font-size:5.5vw;
}

.panel {
	position: relative;
}