/* Main title */
#m-main-title {
    margin-bottom: 2vh !important;
    font-size: 12vw;
    text-align: center;
}

.mobiledate{
    border: 0;
    margin: auto;
    width: 80%;
    height: 10vw;
    border-radius: 3em; 
    /*border: solid 2px #77AAE3; */
}

h1.major:after{
    height: .1em;
}

/* Left date arrow */
#m-leftdate{ 
    float: left;
    padding-left: 5vw;
}

/* Date text */
.m-datetext{
    padding-top: 1.8vh;
    font-size: 5vw;
    text-align: center;
    width: auto;
    padding-left: 0;
}

/* Right date arrow */
#m-rightdate {
    padding-left: 8vw;
}

/*panel stuff*/
.paneltext { 
	position: relative;
    text-align: center;
    z-index: 0; 
    color: black; 
    font-size:5.5vw;
}

.panel {
	position: relative;
}

#clublogo {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 30%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* infobar_mobile */
#infobar_mobile {
    padding: 1.5em 1em 0.5em 1em ;
    background: #ffd347;
    cursor: default;
    height: 100%;
    width: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    text-align: center;
    word-wrap: break-word;
    line-height: 3em;
    z-index: 10001;
    color: black;
    top: 100vh;
    
    transition: .6s ease;
}

#infobar_mobile .club_name {
    font-size: 3em;
    text-align: center;
    padding-left: 0;
    margin-bottom: 15px;
}

 .inner .info {
    font-size: 20px;
}

/* unknown if needed */
#infobar_mobile > .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    min-height: 100%;
    opacity: 1;
    width: 100%;
}

body.is-ie #infobar_mobile > .inner {
    height: 100%;
}

#infobar_mobile nav > ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

body.is-loading #infobar_mobile > .inner {
    opacity: 0;
}

body.is-loading #infobar_mobile nav ul li {
    -moz-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
}

/* Calendar style */
.container{
    padding: 0;
}

#v-cal .vcal-week span {
    font-size: .9em;
    text-align: center;
    padding-top: .8em;
    padding-bottom: .8em;
    padding-left:6.1vw;
    padding-right: 6.1vw;
}

#mon_span {
margin-left: -3.3vw
}

@media screen and (min-width: 768px){
    #mon_span {
        margin-left: -1.4vw;
    }
    
    #v-cal .vcal-week span {
    padding-left:6.0vw;
    padding-right: 6.0vw;
    }
}

