#sidebar {
    width: 15em !important;
}

#footer {
    margin-left: 15em !important;
}

#wrapper {
    margin-left: 15em !important;
}

#main-title {
    margin-bottom: 30px !important;
    font-size: 90px;
}

#top-inner {
    padding-top: 3em;
}

#sidebar nav > ul > li {
    margin-top: 1em;
}