#sidebar {
    width: 15em !important;
}

#footer {
    margin-left: 15em !important;
}

#wrapper {
    margin-left: 15em !important;
}

#main-title {
    margin-bottom: 30px !important;
    font-size: 90px;
}

#top-inner {
    padding-top: 1em;
}

#sidebar nav > ul > li {
    margin-top: 1em;
}

.spotlights > section > .content {
	width: 80em;
}

#teammembers {
  display: table;
  width: 90%;
  margin: 20px;
}

#teammembers a {
  display: table-cell;
  text-align: center;
  width: 20%;
}

#teammembers img {
  width: 150px;
  height: 200px;
}